In [5]:
import pandas as pd

train=pd.read_csv('C:/Users/Manoj/Jupyter Notebook/titanic disaster/train.csv')

C:\Users\Manoj\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Manoj\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [6]:
test=pd.read_csv('C:/Users/Manoj/Jupyter Notebook/titanic disaster/test.csv')

In [11]:
train.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [12]:
test.head(4)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S

In [13]:
train.corr()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
PassengerId,1.000000,-0.005007,-0.035144,0.036847,-0.057527,-0.001652,0.012658
Survived,-0.005007,1.000000,-0.338481,-0.077221,-0.035322,0.081629,0.257307
Pclass,-0.035144,-0.338481,1.000000,-0.369226,0.083081,0.018443,-0.549500
Age,0.036847,-0.077221,-0.369226,1.000000,-0.308247,-0.189119,0.096067
SibSp,-0.057527,-0.035322,0.083081,-0.308247,1.000000,0.414838,0.159651
Parch,-0.001652,0.081629,0.018443,-0.189119,0.414838,1.000000,0.216225
Fare,0.012658,0.257307,-0.549500,0.096067,0.159651,0.216225,1.000000

In [14]:
sex=pd.get_dummies(train['Sex'], drop_first=True)
embark=pd.get_dummies(train['Embarked'],drop_first=True)
y=train['Survived']

train.drop('Name',axis=1,inplace=True)
train.drop('Cabin',axis=1,inplace=True)
train.drop('Ticket',axis=1,inplace=True)
train.drop('Sex',axis=1,inplace=True)
train.drop('Embarked',axis=1,inplace=True)
#train.drop('Survived',axis=1,inplace=True)
train=pd.concat([train,sex,embark],axis=1)

In [15]:
X=train

In [16]:
sex=pd.get_dummies(test['Sex'], drop_first=True)
embark=pd.get_dummies(test['Embarked'],drop_first=True)

test.drop('Name',axis=1,inplace=True)
test.drop('Cabin',axis=1,inplace=True)
test.drop('Ticket',axis=1,inplace=True)
test.drop('Sex',axis=1,inplace=True)
test.drop('Embarked',axis=1,inplace=True)

test=pd.concat([test,sex,embark],axis=1)

In [17]:

print(train['Age'].mean())
print(train['Age'].mode())
print(train['Age'].median())
mean=train['Age'].mean()
mode=train['Age'].mode()
median=train['Age'].median()
train['Age'].fillna(30,inplace=True)
train.isnull().sum()

29.69911764705882
0    24.0
dtype: float64
28.0

PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
male           0
Q              0
S              0
dtype: int64

In [18]:

print(test['Age'].mean())
print(test['Age'].mode())
print(test['Age'].median())
mean=test['Age'].mean()
mode=test['Age'].mode()
median=test['Age'].median()
age=(mean+mode+median)/3
test['Age'].fillna(27,inplace=True)
test.isnull().sum()
test['Fare'].mean()
test['Fare'].fillna(35,inplace=True)

30.272590361445783
0    21.0
1    24.0
dtype: float64
27.0

In [19]:
test.isnull().sum()
#test['Fare'].fillna(35,inplace=True)

PassengerId    0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
male           0
Q              0
S              0
dtype: int64

In [ ]:
#xtrain=pd.concat([xtrain,test],axis=1)

In [20]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

C:\Users\Manoj\Anaconda3\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [31]:
#xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.3,random_state=0)

In [21]:

#test.drop(['Survived1'],axis=1, inplace=True)
train.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0            1         0       3  22.0      1      0   7.2500     1  0  1
1            2         1       1  38.0      1      0  71.2833     0  0  0
2            3         1       3  26.0      0      0   7.9250     0  0  1
3            4         1       1  35.0      1      0  53.1000     0  0  1
4            5         0       3  35.0      0      0   8.0500     1  0  1

In [22]:
xtrain=train[['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'male', 'Q','S']]
ytrain=train['Survived']

In [23]:
xtest=test[['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'male', 'Q','S']]
test['Survived']=0
ytest=test['Survived']

print('xtest :',xtest.shape)
print('ytest :',ytest.shape)

print('xtrain :',xtrain.shape)
print('ytrain :',ytrain.shape)

xtest : (418, 9)
ytest : (418,)
xtrain : (891, 9)
ytrain : (891,)

In [ ]:
#test.drop(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'male', 'Q','S'], inplace = True)

In [34]:
model=RandomForestClassifier()
model.fit(xtrain,ytrain)
pred=model.predict(xtest)
score=accuracy_score(ytest,pred)
print(score)

0.6674641148325359

C:\Users\Manoj\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [33]:
from sklearn.tree import DecisionTreeClassifier

In [35]:
modeldt=DecisionTreeClassifier()
modeldt.fit(xtrain,ytrain)
predt=modeldt.predict(xtest)
accuracy_score(ytest,predt)

0.5358851674641149

In [246]:
#pred_df=pd.DataFrame(pred)
#pred.to_csv('test.csv')

In [129]:
#predict=pd.DataFrame(pred)
#predict.to_csv('xytest.csv')

In [34]:
import os
os.getcwd()

'C:\\Users\\Manoj\\Jupyter Notebook\\titanic disaster'